.main-container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.language-box {
  width: 100%;
  height: 30px;
  float: left;
  margin: 15px;
}
.clear-fix {
  float: none;
  clear: both;
}
